.area-chart.hidden-xs
	%hr
	%h1.title= t("frontend.area-charts.title")
	%ul
		%li
			%i.fa.fa-circle.cl-tur
			= t("frontend.area-charts.legend.redbull")
		%li
			%i.fa.fa-circle.cl-tech
			= t("frontend.area-charts.legend.coffee")
		%li
			%i.fa.fa-circle.cl-dev
			= t("frontend.area-charts.legend.beer")
	= line_chart @data, @options
