- unless domain?(:ca)
	.area-partners
		%hr
		%h1.title= t("frontend.area-partners.title")
		.slick
			- @partners.each do |partner|
				= link_to partner.target, target: "_blank" do
					.hexagon
						%img{ "data-lazy" => partner.image }

