.area-numbers
	.row
		.col
			%span.icon.icon-pie-chart{style: "font-size: 6rem;"}
			%h5= t("frontend.area-numbers.pizzas")
			%p.numbers.count 700
		.col
			%span.icon.icon-user{style: "font-size: 6rem;"}
			%h5= t("frontend.area-numbers.age-average")
			%p.numbers.count 30
		.col
			%span.icon.icon-music-tone-alt{style: "font-size: 6rem;"}
			%h5= t("frontend.area-numbers.songs-played")
			%p.numbers.count 721851
		.col
			%span.icon.icon-emotsmile{style: "font-size: 6rem;"}
			%h5= t("frontend.area-numbers.happy-customers")
			%p.numbers.count 330
		.col
			%span.icon.icon-screen-desktop{style: "font-size: 6rem;"}
			%h5= t("frontend.area-numbers.lines-of-code")
			%p.numbers.count 1057005
