.area-clients
	%hr/
	%h1.title= t("frontend.area-clients.title")
	.text= raw t("frontend.area-clients.text")
	%div.slick
		- @clients.each do |client|
			.client
				%img{ "data-lazy" => client.image }