%tr{ id: "row-#{post.id}" }
	- if can? :destroy_multiple, model
		%td.item-check{style:"width: 5%"}
			= link_to "", post_path(post), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{post.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{post.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{post.id}" }
	%td{style:"width: 60%"}
		= link_to "", post_path(post, search: @query), remote: true, class: "show-row tooltipped", "data-position" => "bottom", "data-tooltip" => "#{post.title}"
		%span
			= post.title.truncate(70)
	%td.hide-on-small-and-down{style:"width: 10%"}
		= link_to "", post_path(post, search: @query), remote: true, class: "show-row"
		%span
			= post.user.name
	%td.hide-on-small-and-down{style:"width: 10%"}
		= link_to "", post_path(post, search: @query), remote: true, class: "show-row"
		%span
			= post.category.name
	%td.hide-on-small-and-down{style:"width: 10%"}
		= link_to "", post_path(post, search: @query), remote: true, class: "show-row"
		%span
			= post.public ? "Publicado" : "No publicado"						
	%td{style:"width: 5%"}		
		= link_to post_path(post), class: "btn-floating waves-effect btn-flat", "data-no-turbolink" => true do
			= material_icon.md_24.more_horiz.css_class("md-dark")