.listing-show-header
	.actions
		- if can? :update, Planner
			= link_to edit_planner_path(@planner), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.assignment.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @planner.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @planner.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.phone")
			.display-value= @planner.phone
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.type_project")
			.display-value= @planner.type_project.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.service")
			%ul.display-value
				- @planner.services.each do |service|
					%li
						= " - "+service.name
		- if @planner.persons?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.persons")
				.display-value= @planner.persons
		- if @planner.machines?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.machines")
				.display-value= @planner.machines
		- if @planner.date_begin?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.begin")
				.display-value= @planner.date_begin.strftime("%d/%m/%Y")
		- if @planner.date_end?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.end")
				.display-value= @planner.date_end.strftime("%d/%m/%Y")
		- if @planner.budget?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.budget")
				.display-value= @planner.budget
		- if @planner.description?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.description")
				.display-value= @planner.description.html_safe

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
