%tr{ id: "row-#{planner.id}" }
	- if can? :destroy_multiple, Planner
		%td.item-check{style:"width: 5%"}
			= link_to "", planner_path(planner), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{planner.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{planner.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{planner.id}" }

		%td{style:"width: 10%"}
			= link_to "", planner_path(planner, search: @query), remote: true, class: "show-row"
			%span.read
				- if planner.read == false
					= material_icon.md_24.email
				- else
					= material_icon.md_24.drafts
		%td{style:"width: 25%"}
			= link_to "", planner_path(planner, search: @query), remote: true, class: "show-row"
			%span
				= planner.name

		%td{style:"width: 30%"}
			= link_to "", planner_path(planner, search: @query), remote: true, class: "show-row"
			%span
				= planner.type_project.name
		- if planner.created_at?
			%td{style:"width: 30%"}
				= link_to "", planner_path(planner, search: @query), remote: true, class: "show-row"
				%span
					= planner.created_at.strftime("%d/%m/%Y")
								
	%td{style:"width: 5%"}		
		= link_to planner_path(planner), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")