#briefing
	.container
		%h1.title
			=	t("frontend.briefing.title")
		.subtitle
			= t("frontend.briefing.subtitle")
			%br
			%b - Walt Disney
		= simple_form_for @planner, :url => briefing_path, :method => :post, wrapper: :bootstrap do |f|

			%section
				%h3= t("frontend.briefing.section-one.title")
				.subtitle= t("frontend.briefing.section-one.subtitle")
				.row.briefing-details
					.col-lg-4.col-md-4.col-sm-12.col-xs-12
						= f.input :name, label: false, placeholder: t("frontend.briefing.attributes.name"),input_html: {class: "briefing-textfield"}
					.col-lg-4.col-md-4.col-sm-12.col-xs-12
						= f.input :email, label: false, placeholder: t("frontend.briefing.attributes.email"),input_html: {class: "briefing-textfield"}
					.col-lg-4.col-md-4.col-sm-12.col-xs-12
						= f.input :phone, label: false, placeholder: t("frontend.briefing.attributes.phone"),input_html: {class: "briefing-textfield"}

			%section
				%h3= t("frontend.briefing.section-two.title")
				-# .subtitle= t("frontend.briefing.section-two.subtitle")
				%section.row.briefing-details{id:"type-project", "ng-init"=>"init('#{params[:locale]}', #{@type_projects.first.id})"}
					- @type_projects.each do |type|
						.col-lg-4.col-md-4
							%label.briefing-textfield.briefing-type{"ng-class"=>"{ 'active #{type.departament.downcase[6..type.departament.length]}': (type_project.id == #{type.id}) }"}
								%input{type:"radio","ng-model"=>"type_project.id", "ng-change"=>"getServiceButtons('#{params[:locale]}', #{type.id})", value:"#{type.id}", name:"planner[type_project_id]"}
								= type.name

			%section.briefing-service{"ng-if"=>"services.length > 0"}
				%h3= t("frontend.briefing.section-three.title")
				-# .subtitle= t("frontend.briefing.section-two.subtitle")
				%div.errors
					- if @planner.errors.messages[:services_error]
						= @planner.errors.messages[:services_error][0]
				.row.briefing-details
					.col-lg-4.col-md-4.col-xs-12
						%section{"ng-repeat"=>"service in services"}
							%label.briefing-textfield.briefing-services{class: "{{data_type_project.departament.toLowerCase().slice(6)}}", "ng-class"=>"{'active' : isChecked}", "ng-mouseover"=>"getDescriptionService(service.id)"}
								%input{type:"checkbox","ng-model"=>"isChecked", value:"{{service.id}}", name:"planner[service_ids][]"}
								%i.fa.fa-check#briefing-service-check
								{{service.name}}
					.col-lg-8.col-md-8.briefing-service-description.hidden-xs.hidden-sm
						%h4 {{service.name}}
						%p{ align: "justify", "ng-bind-html"=>"service.description" }

			%section
				%h3= t("frontend.briefing.section-four.title")
				-# .subtitle= t("frontend.briefing.section-four.subtitle")
				= f.input :description, label: false, input_html: {class: "briefing-textfield briefing-textarea"}

			%section{"ng-if" => "data_type_project.machines"}
				%h3= t("frontend.briefing.section-five.title")
				.subtitle= t("frontend.briefing.section-five.subtitle")
				%center
					= f.input :machines, label: false, placeholder: "Numero de maquinas",input_html: {class: "briefing-textfield briefing-quantity", value: 1}

			%section{"ng-if" => "data_type_project.persons"}
				%h3= t("frontend.briefing.section-six.title")
				.subtitle= t("frontend.briefing.section-six.subtitle")
				%center
					= f.input :persons, label: false, placeholder: "Numero de maquinas",input_html: {class: "briefing-textfield briefing-quantity", value: 1}

			%section{"ng-if" => "data_type_project.date_begin"}
				%h3= t("frontend.briefing.section-seven.title")
				.subtitle= t("frontend.briefing.section-seven.subtitle")
				%center
					= f.input :date_begin, label: false

			%section{"ng-if" => "data_type_project.date_end"}
				%h3= t("frontend.briefing.section-eight.title")
				.subtitle= t("frontend.briefing.section-eight.subtitle")
				%center
					= f.input :date_end, label: false

			%section{"ng-if" => "data_type_project.budget"}
				%h3= t("frontend.briefing.section-nine.title")
				.subtitle= t("frontend.briefing.section-nine.subtitle")
				.row.briefing-details
					- @budgets.each do |budget|
						.col-lg-3.col-xs-12
							%label.briefing-textfield.briefing-budget{class: "{{data_type_project.departament.toLowerCase().slice(6)}}", "ng-class"=>"{ 'active': (budget.first == #{budget.first}) }"}
								%input{type:"radio", value:"#{budget.last}", "ng-model"=>"budget.last", name:"planner[budget]", "ng-change"=>"budget.first = #{budget.first}"}
								= budget.last
			%section
				%h3= t("frontend.briefing.section-ten.title")
				-# .subtitle= t("frontend.briefing.section-ten.subtitle")

			.form-actions.right
				%center
					= f.button :submit, t("frontend.briefing.attributes.submit"), class: "btn briefing-send active {{data_type_project.departament.toLowerCase().slice(6)}}"
