= title "Planners | #{@planner.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Planner
				= link_to planner_path(@planner), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Planner
				= link_to edit_planner_path(@planner), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to planners_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @planner.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.email")
					.display-value.fs-body-1.tc-black-2= @planner.email.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.phone")
					.display-value.fs-body-1.tc-black-2= @planner.phone.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.type_project")
					.display-value.fs-body-1.tc-black-2= @planner.type_project.name
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.service")
					- @planner.services.each do |service|
						.display-value.fs-body-1.tc-black-2= "- "+service.name
				- if @planner.persons?
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.persons")
						.display-value.fs-body-1.tc-black-2= @planner.persons
				- if @planner.machines?
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.machines")
						.display-value.fs-body-1.tc-black-2= @planner.machines
				- if @planner.date_begin?
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.begin")
						.display-value.fs-body-1.tc-black-2= @planner.date_begin.strftime("%d/%m/%Y")
				- if @planner.date_end?
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.end")
						.display-value.fs-body-1.tc-black-2= @planner.date_end.strftime("%d/%m/%Y")
				- if @planner.budget?
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.budget")
						.display-value.fs-body-1.tc-black-2
							= @planner.budget.to_s.humanize
				- if @planner.description?
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.description")
						.display-value.fs-body-1.tc-black-2= @planner.description.html_safe
