.wrapper
	.wrapper-body.container
		.actions
			= link_to type_projects_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
			.pull-right
				= link_to "ES", es_link, class: "#{I18n.locale == :es ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
				| 
				= link_to "EN", en_link, class: "#{I18n.locale == :en ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
		.wrapper-inputs
			.card
				= simple_form_for @type_project do |f|
					.row
						= f.input :name
						= f.input :description, input_html: {class: "materialize-textarea"}
						= f.input :departament, label: false, collection: ["Slice Tur", "Slice Tech", "Slice Dev", "Slice Comunnity", "Slice Brand"],include_blank: "- Selecciona un slice -", input_html: { class: "browser-default" }
						= f.input :date_begin, label: "Fecha de inicio", as: :checkbox_material
						= f.input :date_end, label: "Fecha de culminación", as: :checkbox_material
						= f.input :budget, label: "Presupuesto", as: :checkbox_material
						= f.input :machines, label: "Numero de maquinas", as: :checkbox_material
						= f.input :persons, label: "Numero de personas", as: :checkbox_material


						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"

