%tr{ id: "row-#{type_project.id}" }
	- if can? :destroy_multiple, TypeProject
		%td.item-check{style:"width: 10%"}
			= link_to "", type_project_path(type_project), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{type_project.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{type_project.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{type_project.id}" }

		%td{style:"width: 5%"}
			= link_to "", type_project_path(type_project, search: @query), remote: true, class: "show-row"
			%span
				= material_icon.md_24.folder_open

		%td{style:"width: 84%"}
			= link_to "", type_project_path(type_project, search: @query), remote: true, class: "show-row"
			%span
				= type_project.name
								
	%td{style:"width: 1%"}
		= link_to "#", class: "btn-floating waves-effect waves-light btn-flat dropdown-button", "data-activates" => "catalog-options-#{type_project.id}" do
			= material_icon.md_24.more_vert.css_class("md-dark")
		%ul{ id: "catalog-options", class: "dropdown-content dropdow-content-listing", id: "catalog-options-#{type_project.id}"}
			%li
				= link_to 'Ver detallado', type_project_path(type_project)
			%li
				= link_to 'Ir a servicios', type_project_services_path(type_project)