.floating-button#float-btn
  .floating-icon
    %i.icon-rocket
.floating-text
  .floating-close
    %i.icon-close
  .center
    %h1 TRABAJEMOS
    %h4 ¿Listo para trabajar juntos?, iniciemos tu proyecto a partir de aquí
    %br
    %br
    = link_to breafing_path("es"), class: "floating-brafing" do
      Iniciar proyecto
