.container.contact#footer
	%hr
	.col-lg-4.col-sm-4
		.content-contact#brief
			= link_to main_app.briefing_path do
				%span.fa-stack
					%i.fa.fa-circle.fa-stack-2x
					%i.fa.fa-file-text-o.fa-stack-1x.fa-inverse
			.h3.title-contact= t("frontend.footer.brief.title")
			.text= raw t("frontend.footer.brief.text")

			= link_to main_app.briefing_path, class: "btn btn-brief btn-lg", "data-no-turbolink" => true do
				= t("frontend.footer.brief.building-brief")

	.col-lg-4.col-sm-4
		.content-contact#contact
			= link_to "#" do
				%span.fa-stack
					%i.fa.fa-circle.fa-stack-2x
					%i.fa.fa-comment-o.fa-stack-1x.fa-inverse
			.h3.title-contact
				= t("frontend.footer.contact.title")
			%p
				-# %p
				-# 	= domain?(:ca) ? '+1 4035854849' : '+58 (269) 4166481'
				%p
					- unless domain?(:ca)
						= link_to "comercial@slicegroup.xyz", "mailto:comercial@slicegroup.xyz"
						%br/
						= link_to "soporte@slicegroup.xyz", "mailto:soporte@slicegroup.xyz"
					- else
						= link_to "info@slicegroup.ca", "mailto:info@slicegroup.ca"
				-# %p
				-# 	= domain?(:ca) ? 'Alberta - Canada' : 'Punto Fijo - Venezuela'
	.col-lg-4.col-sm-4
		.content-contact#newsletter
			= link_to "#" do
				%span.fa-stack
					%i.fa.fa-circle.fa-stack-2x
					%i.fa.fa-newspaper-o.fa-stack-1x.fa-inverse
			.h3.title-contact= t("frontend.footer.newsletter.title")
			.text= raw t("frontend.footer.newsletter.text")
		-# 	= simple_form_for @newsletter, url: main_app.newsletters_path do |f|
		-# 		.input-group
		-# 			= f.input :email, label: false, input_html: { class: "string required form-control" }, placeholder: t('frontend.footer.newsletter.placerholder')
		-# 			%span.input-group-btn
		-# 				%button{ class: "btn btn-default", type:"submit" } Go!
		-# 		- flash.each do |name, msg|
		-# 			- if msg.is_a?(String) and name.eql?("alert")
		-# 				%div{class: "newsletter-message #{name.to_s == 'notice' ? 'success' : 'danger'}"}
		-# 					= msg

	%hr
.socials
	= image_tag "frontend/slice.png", class: "logo-slice-footer"
	%ul.icons-social
		%li
			= link_to "mailto:info@slicegroup.xyz", class: "envelope" do
				%i.fa.fa-envelope
		%li
			= link_to "https://twitter.com/slicegroupxyz", target: "_blank", class: "twitter" do
				%i.fa.fa-twitter
		%li
			= link_to "https://www.facebook.com/slicegroupxyz/", target: "_blank", class: "facebook" do
				%i.fa.fa-facebook
		%li
			= link_to "https://www.linkedin.com/company-beta/9371171/", target: "_blank", class: "linkedin" do
				%i.fa.fa-linkedin
		%li
			= link_to "https:/instagram.com/slicegroupxyz", target: "_blank", class: "instagram" do
				%i.fa.fa-instagram
		//%li
		= #link_to "https://github.com/inyxtech", target: "_blank", class: "github" do
		//%i.fa.fa-github-alt
.credits
	.row
		.col-sm-12.col-x-12
			%p
				Copyright
				%i.fa.fa-copyright
				2017
				Slice Group
