%head
	- unless domain?(:ca)
		%title= content_for?(:title) ? yield(:title) : t('frontend.title')
	- else
		%title= content_for?(:title) ? yield(:title) : 'Slice Group - Canada - Web Design - E-commerce - Technology'

	%meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : t('frontend.description')}"}
	%meta{name: "keywords", content: "diseño web, desarrollo web, desarrollo de software, ecommerce, development, cms, web develpment, web design, Punto Fijo, slice, slicegroup, Venezuela, keppler, keppler cms"}
	%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
	%meta{ property: "fb:app_id", content: KepplerBlog.facebook_app_id }
	= favicon_link_tag "frontend/favicon.png"
	= csrf_meta_tags
	%link{ href: 'https://plus.google.com/+SlicegroupXyz1', rel: 'publisher' }
	%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css", :rel => "stylesheet"}/


	%link{ href: "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800", rel: "stylesheet", type: "text/css"}/
	%link{ href: 'https://fonts.googleapis.com/css?family=Quicksand:400,300', rel: 'stylesheet', type: 'text/css'}/
	%link{ rel: "icon", sizes: "192x192", href: "frontend/favicon.png" }
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= render 'layouts/frontend/chat'

	%meta{ name: "theme-color", content: "#273138" }

	- if root_path?
		%meta{ property: "og:image", content: "http://slicegroup.xyz/assets/frontend/home-bg-88b029f5c8d2e72b5c36b57a8272666ab37dd87b4a064284ebbee4538dc1ad0e.jpg" }
		= javascript_include_tag 'frontend/one-page-nav'
	- if show_blog? or listing_blog?
		= javascript_include_tag 'keppler_blog/frontend/twitter_timeline', 'data-turbolinks-track' => true
	- if show_blog?
		%meta{ property: "og:title", content: @post.title }
		%meta{ property: "og:image", content: "http://slicegroup.xyz/#{@post.image}" }
		%meta{ property: "og:description", content: sanitize(@post.body, tags: []).truncate(300) }
		%meta{ property: "og:url", content: request.url }
		= javascript_include_tag 'keppler_blog/frontend/facebook_sdk', 'data-turbolinks-track' => true
		= javascript_include_tag 'keppler_blog/frontend/social-share-buttons', 'data-turbolinks-track' => true
		= javascript_include_tag 'syntax-highlighter-rails/shCore', 'data-turbolinks-track' => true
		= javascript_include_tag 'syntax-highlighter-rails/shBrushRuby', 'data-turbolinks-track' => true
		= javascript_include_tag 'syntax-highlighter-rails/shBrushSass', 'data-turbolinks-track' => true
		= javascript_include_tag 'syntax-highlighter-rails/shCore', 'data-turbolinks-track' => true
		= javascript_include_tag 'syntax-highlighter-rails/shBrushCss', 'data-turbolinks-track' => true
		= javascript_include_tag 'syntax-highlighter-rails/shBrushJScript', 'data-turbolinks-track' => true
		:javascript
			SyntaxHighlighter.all()
