%nav.navbar.navbar-default#front-navbar{ class: "#{root_path? ? 'background-hide' : 'background-show'}"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = URI(request.url).fragment
    .collapse.navbar-collapse
      %ul.nav.navbar-nav{ class: "#{'top-nav' if root_path?}"}     
        = render 'layouts/frontend/navigation_links'


- if root_path?
  :javascript
    window.onscroll = function (event) {
      if($(window).scrollTop() <= 100) {
        $("#front-navbar").removeClass("background-show");
        $("#front-navbar").addClass("background-hide");
      } else {
        $("#front-navbar").removeClass("background-hide");
        $("#front-navbar").addClass("background-show");
      }
    }
- else 
  :javascript
    window.onscroll = null
