%li
	= link_to t('frontend.navbar.home'), root_path? ? "#home" : main_app.root_path(anchor: "home"), "data-no-turbolink" => true

%li
	= link_to t('frontend.navbar.services'), root_path? ? "#services" : main_app.root_path(anchor: "services"), "data-no-turbolink" => true

%li
	= link_to t('frontend.navbar.about'), root_path? ? "#about" : main_app.root_path(anchor: "about"), "data-no-turbolink" => true

= link_to "", class: "home-scroll-down hidden-xs hidden-sm" do
	= image_tag "frontend/slice.png", class: "scrolling scroll-down-in", id: "scroll-in"
	= image_tag "frontend/slice-scroll.png", class: "scroll-down-out", id: "scroll-out" if root_path?

%li{ class: "#{'current' if action_name.eql?('projects')}"}
	= link_to t('frontend.navbar.work'), root_path? ? "#portfolio" : main_app.root_path(anchor: "portfolio"), "data-no-turbolink" => true

- unless domain?(:ca)
	%li{ class: "#{'current' if listing_blog? or show_blog?}"}
		= link_to t('frontend.navbar.blog'), '/blog', class: "external", "data-no-turbolink" => true
- else
	%li
		= link_to t('frontend.navbar.briefing'), '/briefing', class: "external", "data-no-turbolink" => true


%li
	= link_to t('frontend.navbar.contact_us'), root_path? ? "#contact_us" : main_app.root_path(anchor: "contact_us"), class: "#{'external' unless root_path?}", "data-no-turbolink" => true
