!!!
%html
	= render 'layouts/frontend/head'
	%body{ "ng-controller" => "MainCtrl"}
		%main{:role => "main"}
			= render 'layouts/frontend/navigation'
			= render 'layouts/frontend/messages'
			= yield
		%footer
			= render 'layouts/frontend/footer'
		- if root_path?
			:javascript
				switch (document.readyState) {
					case "loading":
						console.log('loading')
					case "interactive":
						console.log('interactive')
					case "complete":
						if (window.location.hash != "") {
							switch(window.location.hash.substring(1)) {
								case 'services':
									window.scrollTo(0, $('#'+window.location.hash.substring(1)).offset().top-100)
									console.log('services')
								case 'home':
									$("#front-navbar").addClass("background-hide");
									break;
									console.log('home')
								default:
									$("#front-navbar").removeClass("background-hide");
									$("#front-navbar").addClass("background-show")
									console.log('default')
							}
						}
						console.log('complete')
				}

-# = render 'layouts/frontend/floating_button'
