.projects-items
  - @projects.each do |project|
    = link_to  projects_path(I18n.locale, project.permalink), class: "project-item" do
      .project-image{style: "background-image: url(#{project.cover})"}
      %center
        .project-brand
          = image_tag project.brand, width: "60px"
          %br
          = project.name
.arrow.arrow-next
  %i.icon-arrow-right

.arrow.arrow-prev
  %i.icon-arrow-left
:javascript
  $(document).on('ready', function () {
    $(".projects-items").slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      nextArrow: $(".arrow-next"),
      prevArrow: $(".arrow-prev"),
      responsive: [
        {
          breakpoint: 769,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 426,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
  });
