%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    - if can? :index,  Planner
      %li
        = header_tab "Briefing", "assignment", current_navigation?('Planners', 'TypeProjects', 'Services')
        = body_tab do
          - if can? :index, Planner
            = link_tab "Proyectos", '/admin/planners', current_navigation?("Planners")
          - if can? :index, TypeProject
            = link_tab "Tipo de Proyectos", "/admin/type_projects", current_navigation?("TypeProjects", "Services")

    - if can? :index, User
      %li
        = tab "Usuarios", "person", main_app.users_path, current_navigation?("Users")

