- (action_name == "new" or action_name == "create") ? action="create" : action="update"
.wrapper
	.wrapper-body.container
		.actions
			= link_to type_project_services_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
			.pull-right
				= link_to "ES", es_link, class: "#{I18n.locale == :es ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
				| 
				= link_to "EN", en_link, class: "#{I18n.locale == :en ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
		.wrapper-inputs
			.card
				= simple_form_for @service, :url => url_for(:action => action, :controller => 'services') do |f|
					.row
						= f.input :name
						= f.input :description, input_html: {class: "materialize-textarea"}

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
