%tr{ id: "row-#{service.id}" }
	- if can? :destroy_multiple, Service
		%td.item-check{style:"width: 10%"}
			= link_to "", type_project_service_path(params[:type_project_id], service.id, search: @query), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{service.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{service.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{service.id}" }

		%td{style:"width: 89%"}
			= link_to "", type_project_service_path(params[:type_project_id], service.id, search: @query), remote: true, class: "show-row"
			%span
				= service.name
								
	%td{style:"width: 1%"}		
		= link_to type_project_service_path(params[:type_project_id], service), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")