= title("Services - Listado")
//change header information
= header_information do
	= link_to "Tipo de proyectos", type_projects_path
	= "> #{@type_project.name.humanize}"

.listing.col.l9.m12.s12
	- if can? :new, model
		= link_to new_type_project_service_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only" do
			= material_icon.md_24.add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |service|
				= render 'listing', service: service
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							No se han encontrado
							= t("model.plural.#{controller_name}").downcase
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_type_project_service_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
		= material_icon.md_24.add.css_class("md-light")

