= title "Servicios - Nuevo"
= header_information do
	= link_to "Tipo de proyectos", type_projects_path
	= ">"
	= link_to "#{@type_project.name.humanize}", type_project_services_path(@type_project.id, @service)

= render 'form'