= title "Servicios | #{@service.id}"
= header_information do
	= link_to "Tipo de proyectos", type_projects_path
	= ">"
	= link_to "#{@type_project.name.humanize}", type_project_services_path(@type_project.id, @service)

.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Service
				= link_to type_project_service_path(params[:type_project_id], @service), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Service
				= link_to edit_type_project_service_path(params[:type_project_id], @service), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to type_project_services_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @service.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= @service.description.to_s.humanize
