@import "../core/main";

#about {
	padding-top: 100px;
	font-family: $open-sans;
	p{
		font-size: 1.4em;
		text-align: center;
		letter-spacing: 1px;
		@include respond-to(phone){
			font-size: 1.1em;
		}
	}

	.container{
		width: 70%;

		@media #{$desktop} {
	    width: 90%;
	  }

		@media #{$tablet}{
			width: 90%;
		}
		@include respond-to(phone){
			width: 100%;
		}
	}

	.about-description{
		a{
			color: black;
			text-decoration: none;
			border-bottom: solid 1px $tech;
			@include transition(.8s);
		}

		a:hover{
			color: $tech;
			@include transition(.8s);
		}
	}

	.text-why, .text-production{
		margin-top: 70px;
		.title{
			font-family: $open-sans;
			letter-spacing: 2px;
			font-size: 1.8em;
			font-weight: 400;
			color: #273138;
			@include respond-to(phone){
				font-size: 1.5em;
			}
		}
	}
}
