@import "../core/main";

.area-numbers{
		margin-top: 70px;
		text-align: center;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		.col{
			display: inline-block;
			margin: 0px 15px;
			@media #{$desktop}{
				margin: 0px 0px;
			}
			@media #{$phone}{
				margin-bottom: 15px;
			}
		}
		.fa-stack{
			color: #B2B2B2;
			font-size: 4em;
			.fa-stack-1x{
				font-size: 0.6em;
			}
		}
		p{
			color: #c15010;
		}
	}

.area-chart{
	margin-top: 70px;
	.title{
		font-family: $open-sans;
		letter-spacing: 2px;
		font-size: 1.8em;
		font-weight: 400;
		color: #273138;
		@media #{$phone}{
			font-size: 1.5em;
		}
	}
	ul{
		width: 100%;
		padding: 0px;
		list-style-type: none;
		text-align: center;
		li{
			display: inline;
			font-family: $open-sans;
			margin-left: 8px;
			margin-right: 8px;
			i{
				margin-right: 2px;
			}
		}
	}
	figure{
		margin-top: -80px;

		#chart-0{
			width: 100% !important;
			height: 300px;
		}
	}
}

.area-partners{
	margin-top: 70px;
	.title{
		font-family: $open-sans;
		letter-spacing: 2px;
		font-size: 1.8em;
		font-weight: 400;
		color: #273138;
		@media #{$phone}{
			font-size: 1.5em;
		}
	}

	.slick-list.draggable{
		padding-top: 10px;
		padding-bottom: 10px;
		.slick-slide.slick-active{
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
		}
	}

	.hexagon {
	  position: relative;
	  width: 200px;
	  height: 110.47px;
	  background-color: #B2B2B2;
	  @include transition(.2s);
	  margin: 57.74px 0;
	  img{
	  	position: absolute;
	  	top: -20%;
	  	left: 12.5%;
	  	width: 150px;
	  }
	}

	.hexagon:hover{
	  background-color: rgba(34, 152, 242, 0.80);
	  @include transition(.2s);
	}

	.hexagon:before,
	.hexagon:after {
	  content: "";
	  position: absolute;
	  width: 0;
	  border-left: 100px solid transparent;
	  border-right: 100px solid transparent;
	}

	.hexagon:before {
	  bottom: 100%;
	  border-bottom: 57.74px solid #B2B2B2;
	  @include transition(.2s);
	}

	.hexagon:hover:before{
	  bottom: 100%;
	  border-bottom: 65.74px solid rgba(34, 152, 242, 0.80);
	  @include transition(.2s);
	}

	.hexagon:after {
	  top: 100%;
	  width: 0;
	  border-top: 57.74px solid #B2B2B2;
	  @include transition(.2s);
	}

	.hexagon:hover:after{
	  bottom: 100%;
	  border-top: 65.74px solid rgba(34, 152, 242, 0.80);
	  @include transition(.2s);
	}
}

.area-clients{
	margin-top: 100px;
	margin-bottom: 50px;
	@media #{$phone}{
		margin-top: 70px;
	}
	.title{
		font-family: $open-sans;
		letter-spacing: 2px;
		font-size: 1.8em;
		font-weight: 400;
		color: #273138;
		@media #{$phone}{
			font-size: 1.5em;
		}
	}
	.slick{
		margin-top: 20px;
	}
	.client{
		img {
			width: 160px;
		}
	}
}
