@import "../core/main";

@mixin icon-before($icon){
  content: $icon;
  font-family: FontAwesome;
}

.blog{
	margin-top: 100px;
	padding-top: 40px;
	font-family: $open-sans;
	@media #{$phone}{
		margin-top: 50px;
	}
	.posts-wrapper{
		.post{
			&-title{
				margin: 0px;
				font-size: 1.3em;
				font-weight: 600;
				a, a:hover{
					color: #434955;
					text-decoration: none;
				}
			}

			&-attributes{
				margin: 5px 0px 15px 0px;
				@media #{$phone}{
					margin-bottom: 0px;
				}
				ul{
					padding: 0px;
					li{
						margin-right: 10px;
						list-style-type: none;
						display: inline-block;
						color: #434955;
						font-size: 12px;
						font-weight: 300;
						i{
							margin-right: 2px;
							color: $primary-color;
						}
						a{
							color: #434955;
							@media #{$phone}{
								font-size: 1.1em;
							}
						}
						span{
							@media #{$phone}{
								font-size: 1.1em;
							}
						}
					}
				}
			}

			&-image{
				img{
					margin: 0px;
					border-radius: 5px;
				}
			}

			&-body{
				color: #434955;
				line-height: 22px;
				margin: 5px 0px 20px 0px;
				font-size: 1.1em;
				p{
					color: #434955;
					font-size: 1.1em;
					letter-spacing: 0px;
					text-align: left;
				}
				.read-more{
					margin-top: 15px;
					a{
						border-color: $primary-color;
  					color: #434955;
						padding: 2px 13px;
					  font-size: 13px;
					  font-weight: 600;
					  line-height: 16px;
					  border-width: 2px;
					}
				}
			}
		}

		.hr-half{
			border-color: #eeeeee;
  		border-top-width: 1px;
		}
	}

	.blog-widget{
		margin-bottom: 30px;
		@media #{$phone} {
			margin-bottom: 15px;
		}
		&--header{
			margin-bottom: 10px;
			.widget-title{
			  font-size: 1.3em;
			  color: #434955;
			  text-transform: uppercase;
			  font-weight: 600;
			  margin: 0px 0px 10px 0px;
			  padding-bottom: 5px;
			  border-bottom: 1px solid rgb(199, 199, 199);
			}
		}

		&--body{
			ul.widget-list{
				padding: 0px;
				li{
					list-style-type: none;
				}
			}
			
			//widget recents
			#recents{
				li{
					margin-top: 10px;
					a{
						font-size: 1.1em;
						font-weight: 300;
						color: #434955;;
					}
				}
			}

			//widget categories
			#categories{
				li{
					margin-top: 10px;
					a{
						color: #434955;;
						text-decoration: none;
						font-size: 1.1em;
						font-weight: 300;
					}
					a.active{
						color: $primary-color;
						font-weight: 600;
					}
				}
			}

			//widget tags
			#tags{
				li{
					margin-bottom: 10px;
					display: inline-block;
					a{
						border-radius: 2px;
						font-size: 12px;
						font-weight: 600;
						background: #273138;
						color: white;
						padding: 4px 10px;
						text-transform: uppercase;
						@include transition(.5s);
					}
					a:hover{
						text-decoration: none;
						background: $primary-color;;
						@include transition(.5s);
					}
					a.active{
						background: $primary-color;
					}
				}
			}

			//widget search
			#search{
				input {
					width: 100%;
					padding:5px 10px 5px 20px;
					border-radius: 0px;
					@media #{$phone}{
						margin-bottom: 20px;
					}
				}

				input:hover, input:focus{
					border-color: rgba(193, 80, 16, 0.5);
				  box-shadow: 0 1px 1px rgba(193, 80, 16, 0.075) inset, 0 0 8px rgba(193, 80, 16, 0.60);
				  outline: 0 none;
				}
			}
		}
	}
	
	.social-share-button{
		margin-top: 5px;
	}

	.pagination{
		width: 100%;
		text-align: center;

		.btn-current{
			background: $primary-color;
			color: white;
			font-weight: bold;
		}

		.page, .next, .last, .prev, .first{			
			.btn-page{
				color: white !important;
				background: #273138;
				font-weight: bold;
				@include transition(.5s);
				i{
					font-weight: bold;
				}
			}

			.btn-page:hover{
				background: $primary-color;
				color: white !important;
				@include transition(.5s);
			}
		}
	}
}

.social-share-button{
	a{
		text-decoration: none;
		color: #333;
		font-size: 30px;
		margin-left: 3px;
		@include transition(.5s);
	}

	a:hover{
		color: $primary-color;
		@include transition(.5s);
	}

	&-twitter:before{
		@include icon-before("\f081");
	}

	&-facebook:before{
		@include icon-before("\f082")
	}
	
	&-google_plus:before{
		@include icon-before("\f0d4")
	}

	&-pinterest:before{
		@include icon-before("\f0d3")
	}

	&-tumblr:before{
		@include icon-before("\f174")
	}

	&-email:before{
		@include icon-before("\f199")
	}

}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  a{
		text-decoration: none;
		color: #333;
		font-size: 20px;
		margin-left: 3px;
	}

	a:hover{
		color: #ee6e73;
		@include transition(.5s);
	}
}

.syntaxhighlighter{
	padding-top: 10px;
	padding-bottom: 10px;
	.toolbar{
		display: none;
	}
}