@import "../core/main";

#briefing{
	margin-top: 120px;
	@media #{$phone}{
		margin-top: 80px;
	}
	@media #{$phone-landscape}{
		margin-top: 80px;
	}
	.container{
		width: 70%;
		@media #{$desktop}{
			width: 70%;
		}
		@media #{$phone}{
			width: 100%;
		}
		@media #{$phone-landscape}{
			width: 100%;
		}
	}
	
	.title{
		font-size: 5em;
		margin-bottom: 15px;
		@media #{$phone}{
			font-size: 3.5em;
		}
		@media #{$phone-landscape}{
			font-size: 3.5em;
		}
	}

	.subtitle{
		margin-top: 0px;
		margin-bottom: 60px;
		color: #A9A9A9;
		font-family: $open-sans;
		font-size: 1.4em;
	  text-align: center;
	  letter-spacing: 1px;
		@media #{$phone}{
			font-size: 1.1em;
		}
		@media #{$phone-landscape}{
			width: 100%;
		}
	}

	section{
		h3{
			font-family: $open-sans;
			font-size: 2em;
			text-align: center;		
			color: #273138;
			font-weight: 300;
			text-transform: uppercase;
			@media #{$phone}{
				font-size: 1.5em;
				font-weight: 600;
			}
		}

		.subtitle{
			font-family: $open-sans;
			font-size: 1.4em;
			text-align: center;
			color: #A9A9A9;
			margin-bottom: 30px;
			@media #{$phone}{
				font-size: 1.1em;
			}
		}
	}

	.briefing-details{
		margin-top: 40px;
		margin-bottom: 60px;
	}

	.briefing-textfield{
		margin-top: 0px !important;
		font-family: $open-sans;
		background: #F0F0F0;
		border: none;
		padding: 10px;
		width: 100%;
		color: #181818;
		margin-bottom: 10px;			
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	-webkit-transition: all 0.4s;
   	-moz-transition: all 0.4s;
   	transition: all 0.4s;
   	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);	
   	box-shadow: 0 1px 2px rgba(0,0,0,0.3);	
	}

	.briefing-textfield:focus { 
    outline: 0;
	}

	.briefing-textarea{
		margin-top: 40px;
		margin-bottom: 60px;
		height: 200px;		
	}

	.briefing-type{
		text-align: center;
		font-family: $open-sans;
		font-size: 18px;
		font-weight: 300;
		color: #7C7C7C;

		input[type="radio"] {
    	display:none;
  	}
	}


	@media #{$desktop} {
		.briefing-budget:hover, 
		.briefing-type:hover, 
		.briefing-services:hover{
			background: #E8E8E8;
			color: #7C7C7C;
		}
	}

	.briefing-budget{
		text-align: center;
		font-family: $open-sans;
		font-size: 15px;
		font-weight: 300;
		color: #7C7C7C;

		input[type="radio"] {
    	display:none;
  	}

	}

	.briefing-services{
		text-align: center;
		font-family: $open-sans;
		font-size: 15px;
		font-weight: 300;
		color: #7C7C7C;

		input[type="checkbox"] {
    	display:none;
  	}
	}

	#briefing-service-check{
		display: none;
	}

	.dev.active{
		background: rgb(250, 101, 101);		
		color: #ffffff;
		#briefing-service-check{
			position: absolute;
			display: block;
			height: 100%;
			margin-top: 1%;
		}
	}

	.tech.active{
		background: #65A5FA;		
		color: #ffffff;
		#briefing-service-check{
			display: block;
			float: left;
			height: 100%;
			margin-top: 1%;
		}
	}

	.tur.active{
		background: #91E076;		
		color: #ffffff;
		#briefing-service-check{
			display: block;
			float: left;
			height: 100%;
			margin-top: 1%;
		}
	}

	.comunnity.active{
		background: #FFDC6F;		
		color: #ffffff;
		#briefing-service-check{
			display: block;
			float: left;
			height: 100%;
			margin-top: 1%;
		}
	}

	.brand.active{
		background: #8B68BE;		
		color: #ffffff;
		#briefing-service-check{
			display: block;
			float: left;
			height: 100%;
			margin-top: 1%;
		}
	}

	.errors, .help-inline{
		color: red;
	}

	.briefing-send{
		padding: 20px;
		width: 300px;
		font-size: 20px;	
		color: #FFFFFF;
		text-transform: uppercase;		
   	-webkit-appearance: none;
   	appearance: none;
   	-webkit-transition: all 0.4s;
   	transition: all 0.4s;
   	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
   	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
   	opacity: 0.6;
	}

	.briefing-send:hover{
		opacity: 1;
	}

	.briefing-send:focus { 
    outline: 0;
	}

	.briefing-service-description{
		font-family: $open-sans;
		font-size: 15px;
		font-weight: 300;
		color: #A9A9A9;
		h4{
			font-weight: 600;
		}
	}

	.briefing-quantity{
		width: 300px;
		margin-top: 20px;
		margin-bottom: 20px;
		@media #{$phone}{
			width: 100%;
		}
		@media #{$phone-landscape}{
			width: 100%;
		}
	}

	select{
		background: #eee image-url("frontend/arrow.svg");		
    background-repeat: no-repeat;
   	padding: 10px;
   	font-size: 16px;
   	border: 0;
   	-webkit-appearance: none;
   	-moz-appearance: none;
   	-webkit-transition: all 0.4s;
   	-moz-transition: all 0.4s;
   	transition: all 0.4s;
   	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);  
   	box-shadow: 0 1px 2px rgba(0,0,0,0.3);  
   	margin: 15px 2px 60px 2px; 
   	width: 150px;
	}

	select:hover{
		background-color: #ddd;
	}

	select:focus { 
    outline: 0;
	}

	select#planner_date_end_3i, 
	select#planner_date_begin_3i{
		background-position: 90% center;
		@media #{$phone}{
   		width: 50px;
			max-width: 100px;
		}
		@media #{$phone-landscape}{
			width: 80px;
			max-width: 80px;
		}
	}
	select#planner_date_end_2i, 
	select#planner_date_begin_2i{
		background-position: 90% center;
		@media #{$phone}{
   		width: 110px;
			max-width: 110px;
		}
		@media #{$phone-landscape}{
			width: 110px;
			max-width: 110px;
		}
	}
	select#planner_date_end_1i, 
	select#planner_date_begin_1i{
		background-position: 90% center;
		@media #{$phone}{
   		width: 80px;
			max-width: 80px;
		}
		@media #{$phone-landscape}{
			width: 80px;
			max-width: 80px;
		}
	}
}