@import "../core/main";

footer {
	margin-top: 40px;
	.contact{
		width: 65%;
		@media #{$desktop} {
	    width: 90%;
	  }
		@media #{$tablet}{
			width: 95%;
		}
		@include respond-to(phone){
			width: 100%;
		}
		margin-bottom: 50px;
		text-align: center;
		font-family: $open-sans;
		.fa-stack{
			color: #B2B2B2;
			font-size: 4em;
			.fa-stack-1x{
				font-size: 0.6em;
			}
			@include transition(.8s);
		}
		.title-contact{
			margin-top: 10px;
			font-size: 1.5em;
			font-weight: 400;
		}
		p{
			color: #6b6b6b;
			font-size: 1em;

			a {
				@media #{$desktop} {
			    font-size: 1em;
			  }

				@media #{$tablet} {
			    font-size: 1em;
			  }
			}
		}
	}

	#newsletter{
		@include respond-to(phone){
			margin-bottom: 40px;
		}

		.form-control{
			border-radius: 0px;
			@include transition(.8s);
		}

		.form-control:focus{
			border-color: #ccc;
		  box-shadow: none;
		  outline: 0 none;
		}

		.input-group-btn{
			button{
				border-radius: 0px;
				@include transition(.8s);
			}

			button:hover{
				background: transparent;
			}
		}

		.newsletter-message{
			font-size: 1.1em;
		}
	}

	#brief{
		@include respond-to(phone){
			margin-bottom: 40px;
		}
		.btn{
			color: white;
			font-weight: 400;
			border-radius: 0px;
			background: #B2B2B2;
			@include transition(.8s);
		}
	}

	#contact{
		@include respond-to(phone){
			margin-bottom: 40px;
		}
	}

	#contact:hover{
		.fa-stack{
			color: rgba(244, 67, 54, 0.75);
			@include transition(.8s);
		}
	}

	#newsletter:hover{
		.fa-stack{
			color: rgba(244, 67, 54, 0.75);
			@include transition(.8s);
		}

		.form-control{
			border-color: rgba(244, 67, 54, 0.50);
		  box-shadow: 0 1px 1px rgba(244, 67, 54, 0.075) inset, 0 0 8px rgba(244, 67, 54, 0.60);
		  outline: 0 none;
		  @include transition(.8s);
		}

		.input-group-btn{
			button{
				border-color: rgba(244, 67, 54, 0.50);
			  box-shadow: 0 1px 1px rgba(244, 67, 54, 0.075) inset, 0 0 8px rgba(244, 67, 54, 0.60);
			  outline: 0 none;
			  @include transition(.8s);
			}
		}
	}

	#brief:hover{
		.fa-stack{
			color: rgba(244, 67, 54, 0.75);
			@include transition(.8s);
		}

		.btn-brief{
			background: rgba(244, 67, 54, 0.75);
			@include transition(.8s);
		}
	}

	.socials {
		background-color: #273138;
		padding: 30px;
		text-align: center;
		color: white;

		.logo-slice-footer {
			margin-bottom: 20px;
			position: relative;
			width: 70px;
			right: 7px;
		}

		.icons-social {
			text-align: center;
			list-style: none;
			padding: 0;
			margin: 0;
			display: inline-block;

			li {
				float: left;
				margin-right: 8px;

				a {
					color: #fff;
					background-color: rgba(0,0,0,.4);
					border-radius: 3px;
					height: 36px;
					width: 36px;
					line-height: 36px;
					display: block;
					font-size: 16px;
					opacity: 0.8;
					@include respond-to(phone){
						height: 28px;
						width: 28px;
						line-height: 28px;
					}
				}

				a:hover {
					@include transform(scale(1.2));
					@include transition(300ms);
				}

				.twitter:hover {
					background-color: #2ac6f7;
				}

				.facebook:hover {
					background-color: #3b5999;
				}

				.linkedin:hover {
					background-color: #036dc0;
				}

				.google-plus:hover {
					background-color: #d34836;
				}

				.instagram:hover{
					background-color: #3f729b;
				}

				.envelope:hover {
					background-color: #009688;
				}

				.github:hover {
					background-color: #CECB26;
				}
			}
		}
	}

	.credits {
		background-color: #273138;
		border-top: 1px solid #273138;
		-webkit-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
		-moz-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
		box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
		padding: 20px;
		font-weight: 300;

		.row {
			margin-left: 70px;
			margin-right: 70px;
			@include respond-to(phone) {
				margin: 0px;
			}
		}

		p {
			text-align: center;
			color: white;
			font-family: $open-sans;
			font-size: 1em;
			font-weight: 500;
			margin-bottom: 3px;
			@include respond-to(phone) {
				text-align: center;
			}
			@media #{$phone-landscape} {
				text-align: center;
			}

			.slicegroup{
				color: white !important;
				font-weight: bold !important;
				margin-left: 2px;
			}
		}
	}
}
