@import "../core/main";

#home {
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: white;

	.bg-overlay{
		height: 100%;
		width: 100%;
		text-align: center;
		background: rgba(0, 0, 0, 0.6) image-url("frontend/texture_layer.png") repeat;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);

		.maple {
			width: 48px;
			fill: white;
			position: absolute;
			top: 30px;
			left: 30px;

			@include respond-to(phone)  {
				position: relative;
				top: 0;
				left: 0;
				margin: auto;
				display: block;
				width: 36px;
			}
		}

		.home-container{
			@include display-flexbox;
			@include flex-direction(column);
			width: 100%;
		}

		.home-carousel{
			color: white;
			font-weight: 400;
			margin-top: 150px;
			letter-spacing: 1px;
			font:{
				family: $quicksand;
				size: 4.5em;
				weight: 300;
			}

			span{
				border-radius: 5px;
				color: white;
				font-weight: 400;
			}

			@media #{$tablet} {
				font:{
					size: 40px;
				}
			}

			@include respond-to(phone)  {
				position: relative;
				top: -40px;
				height: 60px;
				font:{
					size: 1.6em;
				}
			}

			@include respond-to(phone-landscape-only) {
				top: 0px;
			}
		}

		.scroll-down{
			color: white;
			position: relative;
			top: 80px;
			margin: auto;
			margin-top: 40px;
			max-width: 400px;
			color: white;
			cursor: pointer;
			font:{
				family: $open-sans;
				size: 3em;
				weight: 600;
			}
			background: transparent;
			@include transition(.5s);
			@include respond-to(phone){
				top: 20px;
				font-size: 3em;
			}

			@include respond-to(phone-landscape-only){
				top: -60px;
			}
		}

		.scroll-down:hover{
			position: relative;
			top: 100px;
			text-decoration: none;
			@include transition(.5s);
			@media #{$phone}{
				top: 80px;
			}
		}

		.languaje{
			position: relative;
			top: 100px;
			a {
				color: white;
			}
			@include respond-to(phone){
				top: 30px;
			}

			@include respond-to(phone-landscape-only){
				top: -60px;
			}
		}
	}
}
