@import "../core/main";

html, body {
 height: 100%;
 color: #6b6b6b;

 a{
  outline: none !important;
 }
}

body {
	font-family: 'Lato', sans-serif;
}

.float-btn-expand {
  animation: btnExpand .8s forwards;

  .icon-rocket {
    opacity: 0;
    transition: all .2s;
  }
}


@keyframes btnExpand {
  0% {
    bottom: 5%;
    right: 3%;
    transform: scale(1);
  }
  10% {
    bottom: 5%;
    right: 3%;
    transform: scale(.7);
  }
  100% {
    bottom: 45%;
    right: 48%;
    transform: scale(35);
  }
}

.floating-text-show {
  animation: textShow .8s forwards;
  animation-delay: .5s;
}

@keyframes textShow {
  0% {
    top: -1%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.floating-text {
  position: fixed;
  top: -1%;
  z-index: 99999;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: all .8s;

  .floating-close {
    position: absolute;
    font-size: 3rem;
    top: 5%;
    right: 5%;
    color: white !important;
    opacity: 1;
    cursor: pointer;
  }

  a {
    background: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border: 2px solid white;
    transition: all .5s;
  }

  a:hover,
  a:focus,
  a:active {
    background: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #c15010;
    border: 2px solid white;
    text-decoration: none;
    transition: all .5s;
  }

  .center {
    width: 50%;
    color: white;
    text-align: center;

    @include respond-to(phone) {
      width: 90% !important;
    }
  }
}

.floating-button {
  background: #c15010;
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.58);
  z-index: 999;
  position: fixed;
  bottom: 5%;
  right: 3%;
  transform: scale(1);
  transition: all 1s;
  cursor: pointer;
  transition: all .8s;

  .floating-icon {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#nprogress {
  .bar{
    display: none;
  }

  .spinner{
    z-index: 999999;
    top: 25px;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-top-color: $primary-color;
    border-left-color: $primary-color;

    width: 40px;
    height: 40px;

    @include respond-to(phone) {
      display: none;
    }

  }
}

@each $name, $color in (tech: $tech, dev: $dev, community: $community, brand: $brand, tur: $tur) {
  .bg-#{$name}{
    background: $color;
  }
}

@each $name, $color in (tech: $tech, dev: $dev, community: $community, brand: $brand, tur: $tur) {
  .cl-#{$name}{
    color: $color;
  }
}

.locale.active{
  font-weight: bold;
  color: #c15010 !important;
}

.title{
  font-family: $quicksand;
  font-weight: 300;
  font-size: 4em;
  text-align: center;
  margin-bottom: 40px;
  color: #273138;
  @include respond-to(phone){
    font-size: 2em;
  }

  span{
    font-weight: 400;
  }
}

.danger{
  margin-top: 5px;
  color: red;
}

.success{
  margin-top: 5px;
  color: green;
}

.slick {
    background: image-url('frontend/loader.gif') no-repeat center;
    height: 246px;
    width: 100%;
    .hexagon{
      display: none;
    }
}
.slick-slider .slick-list {
    opacity: 0;
    position: absolute;
}
.slick-slider.slick-initialized {
    background: none;
    outline: none;
    .hexagon{
      display: block;
    }
}
.slick-slider.slick-initialized .slick-list {
    opacity: 1;
    position: relative;
    transition: opacity 0.2s ease-in;
}

.container {
  @media #{desktop} {
    width: 90% !important;
  }
}
