@import "../core/main";

#front-navbar.navbar-default {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	z-index: 30;
	@include respond-to(phone) {
		padding-top: 10px;
		padding-bottom: 10px;
		padding: 10px 0px 10px 0px !important;
		background-color: #273138;
	}

	.navbar-nav{
		font-family: $open-sans;
		float: none;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);

		@include respond-to(phone) {
			float: left;
			display: inline;
		}
	}

	.navbar-brand{
		display: block !important;
		margin: 0px;
		padding: 0px;
		position: relative;
		@include respond-to(phone) {
			padding-left: 15px;
		}

		img {
			width: 90px;
			margin-right: 20px;
			position: relative;
			top: 5px;
		}
	}

	.navbar-collapse{
		border: 0px;
	}


	.navbar-toggle{
		border-color: white;
		.icon-bar{
			background-color: white;
		}
	}

	.navbar-toggle:hover{
		background-color: transparent;
	}

	.navbar-toggle:focus{
		background-color: rgba(0, 0, 0, 0.08);
	}

	a{
		font-weight: 600;
		color:white;
		font-size: 12px;
		letter-spacing: 2px;
		@include transition(.2s);
	}

	a:hover {
		color: #c15010;
		font-weight: 600;
		@include transition(.2s);
	}

	li.current {
		a {
			color: #c15010;
			letter-spacing: 2px;
			font-weight: 600;
		}
	}

	.navbar-brand {
		color: white;
		font-size: 20px;
		@media #{$tablet}{
			display: none;
		}
	}
}

.background-show{
	padding: 0px 0px 0px 0px!important;
	background-color: #273138 !important;
	width: 100%;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	@include transition(.5s);
	position: fixed;
	z-index: 1000;
	top: 0px;

	.home-scroll-down{
		margin: 0px 10px;
		position: relative;
		width: 70px;
		height: 100px;
		top: -5px;
		border-radius: 50%;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include transition(.2s);

		.scroll-down-in{
			opacity: 1;
			width: 100px;
			position: relative;
			top: 4px;
			@include animation(rotateIn, .5s, 1, alternate)
		}

		.scroll-down-out{
			position: absolute;
			display: none;
			top: 40px;
			left: 40px;
			width: 50px;
			@include animation(rotateOut, .5s, 1, alternate)
		}

		.scroll-false{
			display: none !important;
		}
	}
}

.background-hide {
	padding: 0px 0px 20px 0px!important;
	background-color: transparent !important;
	width: 100%;
	position: fixed;
	@include transition(.5s);
	@include respond-to(phone) {
		padding: 10px 0px 10px 0px!important;
		background-color: #273138 !important;
	}

	@media #{$tablet} {
		padding: 10px 0px 10px 0px!important;
		background-color: #273138 !important;
	}

	.home-scroll-down{
		margin: 0px 20px;
		position: relative;
		width: 140px;
		height: 140px;
		top: 0px;
		border-radius: 50%;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@media #{$tablet}{
			border: 0px;
			width: 70px;
			height: 100px;
			top: -5px;
		}

		.scroll-down-in{
			opacity: 1;
			width: 100px;
			@include animation(rotateIn, .5s, 1, alternate)
		}

		.scroll-down-out{
			position: absolute;
			opacity: 0;
			top: 40px;
			left: 40px;
			width: 50px;
		}
	}

	.home-scroll-down:hover{
		.scroll-down-in{
			opacity: 0;
			@include animation(rotateOut, .5s, 1, alternate)
		}
		.scroll-down-out{
			opacity: 1;
			@include animation(rotateIn, .5s, 1, alternate)
		}
	}
}

/*keyframes*/
@include keyframes(rotateIn) {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 0;
  }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

@include keyframes(rotateOut) {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -360deg);
    opacity: 1;
  }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 0;
  }
}
