@import "../core/main";
.align-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.text-container {
  height: 100%;
  width: 100%;
  position: fixed;
  color: white;
  z-index: 1;
  display: none;
}

.btn-close-proj {
  position: absolute;
  right: 2%;
  top: 2%;
  font-size: 4rem;
  cursor: pointer;
}

.box-container {
  height: 65px;
  width: 100%;
  transform: rotate(25deg);
}

.btn-slice-proj {
  transition: all .5s;
  height: 65px;
  width: 65px;
  font-size: 2.3rem;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c15010;
  box-shadow: 1px 2px 1px rgba(35, 35, 35, 0.5);
  position: absolute;
  right: 0;
  cursor: pointer;
  transform: scale(1);
  transform: rotate(-25deg);
  z-index: 9999;
}

@keyframes actionBtnIn {
  0% {
    right: 0;
    transform: scale(1);
  }
  10% {
    right: 0;
    transform: scale(0.9);
  }
  100%{
    right: 50%;
    transform: scale(45);
  }
}

@keyframes actionBtnOut {
  0%{
    right: 50%;
    transform: scale(45);
  }
  90% {
    right: 0;
    transform: scale(0.9);
  }
  100% {
    right: 0;
    transform: scale(1);
    transform: rotate(-25deg);
  }
}

@keyframes actionFontsIn {
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes actionFontsOut {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes animationIn {
  0% {
    top: -1%;
    opacity: 0;
  }
  100%{
    top: 0%;
    opacity: 1;
  }
}

@keyframes animationOut {
  0%{
    top: 0%;
    opacity: 1;
  }
  100% {
    top: -1%;
    opacity: 0;
  }
}
