@import "../core/main";

#portfolio{
	padding-top: 100px;
	font-family: $open-sans;
	.container{
		width: 70%;
		@media #{$tablet}{
			width: 90%;
		}
		@include respond-to(phone){
			width: 95%;
		}
	}

	a{
		margin: 0px;
	}

	p{
		font-size: 1.4em;
		text-align: center;
		letter-spacing: 1px;
		@include respond-to(phone){
			font-size: 1.1em;
		}
	}

	#project-filter{
		width: 100%;
		list-style-type: none;
		padding: 0px;
		margin-top: 40px;
		margin-bottom: 0px;
		text-align: center;
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		li{
			display: inline-block;
			cursor: pointer;
			margin: 0px 1px 0px 1px;
			background: #273138;
			color: white;
			width: 100px;
			padding: 5px 10px 5px 10px;
		}
		.active{
			background: #c15010;
		}
	}

	.projects {
		margin-top: 50px;
		width: 100%;
		padding: 0px;

		.mix{
			display: none;
		}

		.project{
			position: relative;
			padding: 0px;
			overflow: hidden;
			min-width: 384px;
			min-height: 220px;
			@include respond-to(phone){
				min-width:100%;
			}

			img{
				height: 267px;
				width: 100%;
				@include respond-to(phone){
					height: 220px !important;
				}
			}

			.project-mask{
				position: absolute;
				width: 100%;
				height: 100%;
				color: white;
				text-align: center;
				padding: 5px;
				background: #273138;
				z-index: 2;
				left: -100%;
				@include transition(.2s);
				@include respond-to(phone){
					height: 220px !important;
				}

				.project-title, .project-category, .icon{
					margin-left: 70px;
					text-transform: uppercase;
				}

				.project-title{
					margin-top: 30px;
					font-size: 1.5em;
					font-family: $open-sans;
					font-weight: 900;
					@include respond-to(phone){
						font-size: 1.3em;
					}
				}

				.icon{
					margin-top: 23%;
					i{
						font-size: 2em;
						@include respond-to(phone){
							font-size: 1.3em;
						}
					}
					@include respond-to(phone){
						margin-top: 60px;
					}
				}
			}

			img{
				position: relative;
				right: 0px;
				@include transition(.2s)
			}
		}

		.project:hover{
			.project-mask{
				left: -20%;
				@include transition(.2s)
			}
			img{
				right: -80%;
				@include transition(.2s)
			}
		}
	}
}
