@import "../core/main";

#portfolio {
  overflow: hidden;
  position: relative;
  @media #{$phone}{
    width: 100%;
  }

  #project-filter {
    a,
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  #porfolio-caroucel {
    perspective: 150vw;
    -webkit-perspective: 150vw;
    perspective-origin: center;

    @media #{$phone}{
      perspective: none;
      -webkit-perspective: none;
      perspective-origin: none;
    }

    a,
    a:hover {
      color: #000;
      text-decoration: none;
    }

    .arrow {
      color: #000;
      height: 60px;
      width: 60px;
      background: #e8e8e8;
      border-radius: 50%;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.38);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: .8;
      cursor: pointer;
    }

    .arrow:hover {
      opacity: 1;
    }

    .arrow-next {
      position: absolute;
      top: 30%;
      right: -6%;
      transition: all .8s;

      @media #{$tablet} {
        right: 1%;
      }

      @media #{$phone} {
        top: 65%;
        right: 4%;
      }
    }

    .arrow-prev {
      position: absolute;
      top: 30%;
      left: -6%;
      transition: all .8s;

      @media #{$tablet} {
        left: 1%;
      }

      @media #{$phone} {
        top: 65%;
        left: 4%;
      }
    }
  }

  #porfolio-caroucel:hover {
    .arrow-next {
      position: absolute;
      top: 30%;
      right: 1%;
      transition: all .8s;

      @media #{$phone} {
        top: 65%;
        right: 4%;
      }
    }

    .arrow-prev {
      position: absolute;
      top: 30%;
      left: 1%;
      transition: all .8s;

      @media #{$phone} {
        top: 65%;
        left: 4%;
      }
    }
  }

  .projects-items {
    margin-top: 5rem;
    transform: rotateY(20deg);
    width: 130.09272%;
    @media #{$phone}{
      width: 100%;
    }

    .project-item {
      padding: 2rem;
      text-align: center;
    }

    .project-image {
      background-position: center;
      background-size: cover;
      height: 250px;
      width: 100%;
      box-shadow: -21px 10px 22px rgba(56, 54, 54, 0.31)
    }

    .project-brand {
      margin-top: 2rem;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
}
