@import "../core/main";

#projects{
	margin-top: 150px;
	@include respond-to(phone){
		margin-top: 80px;
	}
	
	.title{
		font-family: $open-sans;
		font-weight: 900;
		margin-bottom: 15px;
		font-size: 2.2em;
		text-align: left;
		@include respond-to(phone){
			text-align: center;
		}
	}

	#project-carousel{
		margin-top: 25px;

		.carousel-inner {
			> .item {
			  opacity: 0;
			  top: 0;
			  left: 0;
			  width: 100%;
			  display: block;
			  position: absolute;
			  z-index:0;
			  transition: none;
			  transform: translate3d(0,0,0) !important;
			  &:first-of-type {
			    position:relative;
		  	} 
		  }

			> .active {
			  opacity: 1;
			  z-index:3;
			}

			> .next.left, > .prev.right {
			  transition: opacity 0.6s ease-in-out;
			  opacity: 1;
			  left: 0;
			  z-index:2;
		  }                                                                                                             
		 	> .active.left, > .active.right {
		  	z-index:1;
		 	}
		}

		.carousel-indicators{
			opacity: 0;
			@include transition(.5s);
			li{
				border: 0px;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				background: rgba(0, 0, 0, 0.6);
			}
			li.active{
				width: 20px;
				height: 20px;
				background: #c15010;
			}
		}

		.carousel-control{
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			z-index: 4;
			background-image: none;
			text-shadow: none;
			opacity: 0;
			width: 22%;
			@include transition(.5s);

			@include respond-to(phone) {
				opacity: 1;
			}
				
			.fa-stack{
				opacity: .5;
				@include transition(.5s);
				.fa-circle{
					color: black;
				}
				.fa-angle-right, .fa-angle-left{
					color: white;
					font-weight: bold;
					@include transition(.5s);
				}
			}

			.fa-stack:hover{
				opacity: .8;
				@include transition(.5s);

				.fa-angle-right, .fa-angle-left{
					color: #c15010;
					@include transition(.5s);
				}
			}
		}
	}

	#project-carousel:hover{
		.carousel-indicators{
			opacity: 1;
			bottom: 30px;
			@include transition(.5s);
		}
		.carousel-control{
			width: 15%;
			opacity: 1;
			@include transition(.5s);
		}
	}

	.description{
		p{
			font-family: $open-sans;
			font-size: 1.3em;
			@include respond-to(phone){
				text-align: justify
			}
		}
		hr{
			margin-top: 20px;
		}

		.btn{
		  color: white;
		  width: 100%;
		  font-family: $open-sans;
		  font-weight: 300;
		  font-weight: 400;
		  border-radius: 0px;
		  padding: 10px 40px;
		  background: #B2B2B2;
		  @include transition(.8s);
		}

		.btn-slice:hover{
		  color: white;
		  background: rgba(244, 67, 54, 0.75);
		  @include transition(.8s);
		}
	}
	
	.btn-more{
		text-decoration: none;
		.text-more{
			overflow: hidden;
			margin-top: 70px;
			border-radius: 3px;
			padding: 15px;
			width: 100%;
			color: #506A85;
			border: 1px solid #E2E2E2;
			font-family: $open-sans;
			font-weight: 900;
			position: relative;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
			@include transition(.8s);
			@include respond-to(phone){
				margin-top: 30px;
			}

			.icon{
				position: relative;
				height: 0px !important;
				top: -40px;
				opacity: 0;
				@include transition(.2s);
			}

			.text{
				margin-bottom: 0px;
				letter-spacing: 1px;
				position: relative;
				width: 100%;
				top: 0px;
				text-align: center;
				opacity: 1;
				@include transition(.2s);
			}
		}

		.text-more:hover{
			background: #F5F5F5;
			@include transition(.8s);

			.icon{
				top: 0px;
				opacity: 1;
				@include transition(.2s);
			}
			.text{
				top: 40px;
				opacity: 0;
				@include transition(.2s);
			}
		}
	}

	.collapse-content{
		position: relative;
		top: 0px;
		opacity: 0;
		@include transition(1s);
	}
	
	.collapse-content.show{
		position: relative;
		opacity: 1;
		top: -30px;
		@include transition(.3s);
		@include respond-to(phone){
			margin-top: 65px;
			.row.projects{
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}

}