@import "../core/main";

#services {
	.container{
		width: 100%;
		padding: 0px;
	}

	a{
		text-decoration: none;
		margin: 0px;
	}

	.service {
		padding: 0px;
	}

	.item-service{
		@include display-flexbox;
		color: white;
		cursor: pointer;
		position: relative;

		.img-service{
			width: 100%;
			background-position: center;
			background-size: cover;
			height: 340px;

			@media #{$desktop} {
				height: 450px;
			}

			@media #{$tablet} {
				height: 450px;
			}

			img{
				width: 100%;
			}
		}

		.content-service{
			@include transition(.8s);
			width: 100%;
			background: #273138;
			letter-spacing: 2px;
			@include respond-to(phone) {
				height: 360px;
			}

			.content-title{
				@include transition(.8s);
				line-height: 1.14;
				padding: 20px 40px 20px 40px;
				font: {
					family: $quicksand;
					size: 1.6em;
					weight: 400;
				}
				@include respond-to(phone){
					font-size: 1.2em;
				}
			}

			.content-subtitle{
				width: 100%;
				padding: 0px 40px 20px 40px;
				font: {
					family: $open-sans;
					weight: 300;
				}
				@include respond-to(phone){
					font-size: 14px;
				}
			}

			//service view more
			.service-view-more{
				color: white;
				max-width: 140px;
				margin-left: 40px;
				padding-bottom: 10px;
				border-bottom: 2px solid white;
				text-decoration: none;
				position: absolute;
				bottom: 30px;
				width: 100%;
				@include transition(.3s);
				font: {
					size: 1.4em;
					family: $quicksand;
					weight: 400;
				}
			}
		}
	}


	.item-service:hover{
		.service-view-more{
			max-width: 200px;
			@include transition(.3s);
		}
	}


	//responsive phone and tablet
	@each $name, $color in (tech: $tech, dev: $dev, brand: $brand, tur: $tur) {
		#service-#{$name}{
			.content-service{
				@include respond-to(phone){
					background: $color;
				}
				@media #{$tablet}{
					background: $color;
				}
			}
		}
	}


	//slice community
	#service-community{
		.img-service{
			img{
				height: 400px;
				@media #{$tablet}{
					height: 340px;
				}
			}
		}
		.content-service{
			background: white;
			height: 400px;
			@media #{$tablet}{
				height: 340px;
				background: $community;
			}
			@include respond-to(phone){
				height: 360px;
				background: $community;
			}

			@include respond-to(phone-landscape-only) {
				height: 280px;
			}

			.content-title{
				color: #273138;
				@media #{$tablet}{
					color: white;
				}
				@include respond-to(phone){
					color: white;
				}
			}

			.content-subtitle{
				color: #273138;
				@include transition(.8s);
				font-size: 1.5em;
				@media #{$tablet}{
					font-size: 1.1em;
					color: white;
				}
				@include respond-to(phone){
					font-size: 14px;
					color: white;
				}
			}
		}
		.service-view-more{
			color: #273138;
			border-color: #273138;
			@media #{$tablet}{
				color: white;
				border-color: white;
			}
			@include respond-to(phone){
				color: white;
				border-color: white;
			}
		}
	}

	//slice community
	#service-community:hover{
		.content-subtitle{
			@include transition(.8s);
			color: white;
		}
		.service-view-more{
			color: white;
			border-color: white;
		}
	}

	//services hover
	@each $name, $color in (tech: $tech, dev: $dev, community: $community, brand: $brand, tur: $tur) {
	  #service-#{$name}:hover{
			.content-service{
				background: $color;
				@include transition(.8s);
				.content-title{
					@include transition(.8s);
					color:white;
				}
			}
		}
	}


	//modal dialog
	.modal-services{
		.modal-content{
			border-radius: 0px;
			position: relative;
			.modal-close{
				cursor: pointer;
				text-decoration: none;
				font-size: 3em;
				color: #d5d5d5;
				z-index: 1000;
				position: absolute;
				right: 20px;
				@include transition(.8s);
			}
			.modal-close:hover{
				color: #B2B2B2;
				@include transition(.8s);
			}
			.modal-body{
				.container{
					padding: 40px;
					@include respond-to(phone){
						padding: 15px 0px;
					}
					@include display-flexbox;
					@include align-items(center);
					@include justify-content(center);
					.modal-title{
						font-family: $quicksand;
						margin-top: 0px;
						font-weight: 400;
						font-size: 1.6em;
						@include respond-to(phone){
							font-size: 1.8em;
						}
					}
					.modal-subtitle{
						font-family: $quicksand;
						font-size: 300;
						margin-top: 0px;
						font-size: 1em;
					}
					.modal-description{
						font-family: $open-sans;
						p{
							font-size: 1.3em;
							letter-spacing: 1px;
							@include respond-to(phone){
								font-size: 1.1em;
							}
						}

						ul{
							font-family: $quicksand;
							padding: 20px;
							font-size: 1.5em;
							height: 300px;
						}
					}
					.banner-division{
						position: relative;
						img{
							position: relative;
							top: -20px;
						}
						.division-title{
							font-family: $quicksand;
							font-size: 2em;
							font-weight: 400;
							color: white;
							position: absolute;
							right: 50px;
							top: 220px;
						}
					}
				}
			}
			.modal-footer{
				text-align: center;
				background: #F5F5F5;
				padding: 40px;
				@include respond-to(phone){
					padding: 15px 5px;
				}

				h3, h5{
					font-family: $open-sans;
					font-weight: 300;
					margin-top: 0px;
				}

				.btn{
					border-radius: 0px;
					color: white;
					margin-top: 5px;
				}
			}
		}
	}
}
