$primary-color: #F44336;
$nprogress-color: #009688;
$nprogress-height: 4px;
$nprogress-zindex: 10100;

@import 'nprogress';
@import 'nprogress-bootstrap';

body, html {
  position: relative;
  height: 100%;
  background: #f0f0f0;

  main.row{
    margin-bottom: 0px;
  }

  #waiting {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100*10;
    text-align: center;
    .preloader-wrapper {
      position: relative;
      top: 45%;
      @media #{$small-and-down} {
        top: 40%;
      }
    }
  }

  .material-tooltip{
    margin-top: -2px !important;
    padding: 5px !important;
    height: 25px !important;
    min-height: 25px !important;
    border-radius: 0px !important;
    span{
      font-size: 12px !important;
    }
  }

  .pagination{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    span.page{
      .btn-floating{
        color: rgba(0, 0, 0, 0.54) !important;
      }
    }
    .btn-floating{
      box-shadow: none;
      font-weight: 600;
    }
  }

  ul#noty_bottomRight_layout_container{
    right: 12px !important;
    li{
      border-radius: 0px !important;
      border: 0px;
    }
    .noty_bar{
      background: rgba(0, 0, 0, 0.73);
      color: white;
      border-radius: none;
    }
  }

  .modal{
    .modal-header{
      h4{
        padding: 10px;
        background: $primary-color;
        color: white;
        font-weight: 500;
        font-size: 1.5em;
      }
    }
    .modal-content{
      max-width: 50%;
      padding: 10px !important;
    }
    .modal-footer{
      padding: 0px 10px 10px 10px;
      .modal-close{
        margin-right: 10px;
      }
    }
  }
}

body.open{
  overflow: hidden;
}

body{
  overflow-y: hidden;
  overflow-x: hidden;
}

//spinner para peticiones turbolink
.rotate {
  -webkit-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.card{
  border-radius: 2px !important;
  background-color: #FFFFFF !important;
  overflow: visible !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
}
