.container
	%h1.title
		= raw t("frontend.about.title")
	.about-description
		= raw t("frontend.about.description")

	= render "frontend/areas/area_numbers"

	.text-why
		%hr
		%h1.title= raw t("frontend.about.text-why.title")
		.text= raw t("frontend.about.text-why.text")

	= render "frontend/areas/area_charts"

	.text-production
		%hr
		%h1.title= raw t("frontend.about.text-production.title")
		.text= raw t("frontend.about.text-production.text")

	= render "frontend/areas/area_partners"
