.bg-overlay
  .home-container
    = render 'maple_svg' if domain?(:ca)

    %ul.nav.nav-tabs{ style: "display:none;"}
      - (1..6).each do |i|
        %li.nav{ class: "#{'active' if i.eql?(1)}"  }
          %a{"data-toggle" => "tab", :href => "##{i}"}
    .tab-content.home-carousel
      - (1..6).each do |i|
        .item.tab-pane.fade.in{ class: "#{'active' if i.eql?(1)}", id: "#{i}"}
          = raw t("frontend.home.phrase-#{i}")
    %a{ class: "scroll-down" }
      %i.icon.icon-arrow-down

    - unless domain?(:ca)
      .languaje
        = link_to "EN", { :locale => "en" }, class: "#{I18n.locale == :en ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
        |
        = link_to "ES", { :locale => "es" }, class: "#{I18n.locale == :es ? ('locale active';) : ('locale';)}", "data-no-turbolink" => true
