.container
	%h1.title= raw t("frontend.portfolio.title")
	.portfolio-description= raw t("frontend.portfolio.description")
	%ul#project-filter
		%li.all.active{ onclick: "mixitup('all')"}
			= t("frontend.portfolio.filter.all")
		%li.web{ onclick: "mixitup('.web')"}
			= t("frontend.portfolio.filter.web")
		%li.design{ onclick: "mixitup('.design')"}
			= t("frontend.portfolio.filter.design")
		%li.app{ onclick: "mixitup('.app')"}
			= t("frontend.portfolio.filter.app")
.container.projects
	- @projects.each do |project|
		.col-lg-4.col-md-4.col-sm-6.col-xs-12.project{ class: "mix #{project.section}" }
			= link_to projects_path(I18n.locale, project.permalink), "data-no-turbolink" => true do
				.project-mask
					%h4.project-title
						= project.name
					%small.project-category
						= project.section
					.icon
						%i.fa.fa-arrow-right
				= image_tag project.cover
.container
	= render "frontend/areas/area_clients"

:javascript
	$('.projects').mixItUp();

	function mixitup(filter){
		$('.projects').mixItUp('filter', filter);
		$("#project-filter li").removeClass('active');
		(filter=="all") ? $('#project-filter .all').addClass('active') : $("#project-filter "+filter).addClass('active')
	};
