.container
  %h1.title= raw t("frontend.portfolio.title")
  .portfolio-description= raw t("frontend.portfolio.description")
  %ul#project-filter
    = link_to portfolio_section_path("all"), remote: true do
      %li.all.active
        = t("frontend.portfolio.filter.all")
    = link_to portfolio_section_path("web"), remote: true do
      %li.web
        = t("frontend.portfolio.filter.web")
    = link_to portfolio_section_path("design"), remote: true do
      %li.design
        = t("frontend.portfolio.filter.design")
    = link_to portfolio_section_path("app"), remote: true do
      %li.app
        = t("frontend.portfolio.filter.app")
#porfolio-caroucel
  = render "frontend/partials/projects"
