.container
	- ["dev", "tur", "tech"].each do |service|
		= link_to "", "data-target" => "#modal-#{service}", "data-toggle" => "modal" do
			.service{ class: service.eql?("tech") ? "col-lg-12" : "col-lg-6" }
				.item-service{ id: "service-#{service}" }
					.img-service.hidden-xs{style: "background-image: url(assets/frontend/service-#{service}.jpg)"}
					.content-service
						%h1.content-title
							= t("frontend.service.#{service}.title")
						.content-subtitle
							= t("frontend.service.#{service}.content")
						%p.service-view-more= t("frontend.service.viewmore")

		.modal.modal-services.fade{:role => "dialog", :tabindex => "-1", id: "modal-#{service}"}
			.modal-dialog.modal-lg
				.modal-content
					%a{ type: "button", class: "modal-close", "data-dismiss" => "modal", "aria-label" => "Close" }
						%span{ "aria-hidden" => "true" } &times
					.modal-body
						.container
							.col-lg-6.col-sm-12
								%h3.modal-title{ class: "cl-#{service}" }
									= t("frontend.service.#{service}.title")
								.modal-description
									%ul
										- case service
											- when "dev"
												- 6.times do |index|
													%li= t("frontend.service.#{service}.modal.li-#{index}")
											- when "tur"
												- 8.times do |index|
													%li= t("frontend.service.#{service}.modal.li-#{index}")
											- when "community"
												- 4.times do |index|
													%li= t("frontend.service.#{service}.modal.li-#{index}")
											- when "brand"
												- 4.times do |index|
													%li= t("frontend.service.#{service}.modal.li-#{index}")
											- when "tech"
												- 6.times do |index|
													%li= t("frontend.service.#{service}.modal.li-#{index}")
							.col-lg-6.hidden-sm.hidden-xs
								.banner-division
									= image_tag "frontend/#{service.capitalize}.png"
					.modal-footer
						.col-lg-12
							%h3
								= t("frontend.service.modal.footer.title")
							%h5{ class: "cl-#{service}"}
								= t("frontend.service.modal.footer.subtitle")
							= link_to briefing_path, class: "btn bg-#{service}" do
								= t("frontend.service.modal.footer.submit")
