#home{style: "background-image: url('assets/frontend/home-bg-#{Random.rand(4)}.jpg');"}
	= render "home"
#services
	= render "services"
#about
	= render "about"
#portfolio
	= render "portfolio"
#contact_us
