$("#porfolio-caroucel").animate({
  opacity: 0
}, 800, function(){
  $("#porfolio-caroucel").html("<%= j render 'frontend/partials/projects' %>")
  $(".projects-items").slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    nextArrow: $(".arrow-next"),
    prevArrow: $(".arrow-prev"),
    responsive: [
      {
        breakpoint: 769,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 426,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
  $('li').removeClass("active");
  $('.<%= @section %>').addClass("active");
  $("#porfolio-caroucel").animate({
    opacity: 1
  }, 800);
});
