#projects
	.container
		.row
			.col-lg-8
				.carousel.slide#project-carousel{"data-ride" => "carousel"}
					%ol.carousel-indicators
						- @project.published_files_count.times do |index|
							%li{"data-slide-to" => "#{index}", "data-target" => "#project-carousel", class: "#{'active' if index.zero?}"}
					.carousel-inner{:role => "listbox"}
						- @project.published_files.each_with_index do |attachment, index|
							.item{ class: "#{'active' if index.zero?}" }
								= image_tag attachment.image
					%a.left.carousel-control{"data-slide" => "prev", :href => "#project-carousel", :role => "button"}
						%span.fa-stack.fa-lg
							%i.fa.fa-circle.fa-stack-2x
							%i.fa.fa-angle-left.fa-stack-1x.fa-inverse{"aria-hidden" => "true"}
					%a.right.carousel-control{"data-slide" => "next", :href => "#project-carousel", :role => "button"}
						%span.fa-stack.fa-lg
							%i.fa.fa-circle.fa-stack-2x
							%i.fa.fa-angle-right.fa-stack-1x.fa-inverse{"aria-hidden" => "true"}
			.col-lg-4.project-description
				%h1.title= @project.name
				.description#brief
					= raw @project.description
					= link_to t('frontend.portfolio.go_to_site'), @project.published_files.first.target, class: "btn btn-slice", target: "_blank" unless @project.published_files.empty?
		= link_to "#collapse", class: "btn-more", "data-parent"=>"#accordion", "data-toggle" => "collapse", "aria-expanded" => "false", id: "button-collapse" do
			.text-more
				.icon
					%i.fa.fa-chevron-down
				.text 
					= t('frontend.portfolio.view_more')
	#collapse.panel-collapse.collapse{ role: "tabpanel" }
		#portfolio.collapse-content
			%ul#project-filter{ style: "margin:0px;"}
				%li.all.active{ onclick: "mixitup('all')"}
					= t("frontend.portfolio.filter.all")
				%li.design{ onclick: "mixitup('.design')"}
					= t("frontend.portfolio.filter.design")
				%li.app{ onclick: "mixitup('.app')"}
					= t("frontend.portfolio.filter.app")
			.row.projects
				- @projects.each do |project|
					.col-lg-4.project{ class: "mix #{project.section}" }
						= link_to projects_path(I18n.locale, project.permalink), "data-no-turbolink" => true do
							.project-mask
								%h4.project-title
									= project.name
								%small.project-category
									= project.section
								.icon
									%i.fa.fa-arrow-right
							= image_tag project.cover	


:javascript
	$('#collapse').on('show.bs.collapse', function () {
		$("#button-collapse .text").text("#{t('frontend.portfolio.hide')}");
		$("#button-collapse .icon i").removeClass("fa-chevron-down").addClass("fa-chevron-up");
		$('.projects').mixItUp();
	})

	$('#collapse').on('hide.bs.collapse', function () {
		$("#button-collapse .text").text("#{t('frontend.portfolio.view_more')}");
		$("#button-collapse .icon i").removeClass("fa-chevron-up").addClass("fa-chevron-down");
		$(".collapse-content").removeClass("show");
	})

	$('#collapse').on('shown.bs.collapse', function () {
		$(".collapse-content").addClass("show");
	});

	function mixitup(filter){
		$('.projects').mixItUp('filter', filter);
		$("#project-filter li").removeClass('active');
		(filter=="all") ? $('#project-filter .all').addClass('active') : $("#project-filter "+filter).addClass('active')
	};

	
	


