//Responsive design
$desktop-large: "(min-width:1600px)";
$desktop: "(min-width:992px) and (max-width:1199px)";
$tablet: "(min-width: 768px) and (max-width:991px)";
$tablet-portrait: "(max-width: 767px) and (orientation : portrait)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";

//fuentes
$open-sans: 'Open Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;

//colores
$primary-color: rgb(193, 80, 16);
$bg-primary: #fff;
$bg-secondary: #f5f5f5;
$tech: #2298f2;
$community: #ff9800;
$dev: #f44336;
$tur: #8bc34a;
$brand: #673ab7;
